[submodule "picojson"]
	path = picojson
	url = https://github.com/kazuho/picojson.git
	shallow = true
[submodule "variant"]
	path = variant
	url = https://github.com/mapbox/variant.git
	shallow = true
